.App {
  text-align: center;
}
.main-flexbox-row{
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.left-side{ 
  position: sticky;
  background-color:#859bbf;
  height: 100%;
  width: 40%;
}