.App {
  height: 100%;
}

.container-center {
  min-height: 90%;
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position:relative;
  margin-bottom: 100px;
}
.title
{
  margin-top: 60px;
  font-size: 30px;
}

.centered-container{
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-bottom: 20px;
  color:black;
}

.link-container
{
  display: flex;
  flex-direction: row;  
}
.links
{
  display: inline-block;
  text-decoration: none;
  color: rgb(75, 77, 79);
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  padding: 10px;
}
.links:hover
{
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}