.App {
    text-align: center;
}

.main-flexbox {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left-side {
    position: sticky;
    background-color: #32302f;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: initial;
}

.right-side {
    width: 60%;
    height: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
    .main-flexbox {
        display: flex;
        flex-direction: column;
    }
    .left-side {
        position: sticky;
        background-color: #32302f;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: initial;
    }
    .right-side {
        width: 100%;
    }
}