.container
{
   display: flex;
   flex-direction: column;
   height: 100%;
}
.editor-container
{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.editor-view
{
    border: 1px solid darkgrey;
    font-size: 15px;
    font-weight: 500;
    word-wrap:break-word;
    padding: 20px;
}
.editor-box
{
    border: 1px solid darkgrey;
    width: 50%;
}
.editor-input
{
    font-size: 15px;
    outline:none;
    resize:none;
    padding: 20px;
    box-sizing: border-box; 
}
.editor-header
{
    height: 10%;
}
.inline-text
{
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}