.editor-container
{
    display: flex;
    flex-direction: row;
    margin:70px 100px;
    box-shadow: 5px 10px 14px #888888;
}
.editor-view
{
    width: 50vw;
    margin: 70px 100px;
    box-shadow: 5px 10px 18px #888888;
}