.editor-container
{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.editor-view
{
    border: 1px solid darkgrey;
    font-size: 11px
}
.editor-box
{
    resize:none;
    width: 50%;
    padding:20px;
}
.editor-input
{
    font-size: 13px;
}