.filter-container {
  
	margin-bottom: 50px;
}
.flex-row
{
display: -ms-flexbox;
  display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
flex-wrap: wrap;
}

.filter
{
	font-family: Nunito,sans-serif;
	cursor: default;
	transition: all .3s ease-in-out; 
	display: inline-block;
	margin: 0 20px 0;
	color: black;
	min-width: 50px;
	text-align: center;
	font-size: 25px;
}
.filter:hover { 
	transform: scale(1.1); 
}

.filter-enabled
{
	font-family: Nunito,sans-serif;
	cursor: default;
	transition: all .3s ease-in-out; 
	display: inline-block;
	margin: 0 20px 0;
	color: black;
	min-width: 50px;
	text-align: center;
	font-size: 25px;
	 background-color: rgb(200, 200, 200);
}

.cross
{
	width: 50px;
	height: 50px;
}

.closebtn {
	text-align: center;
    color: red;
    font-weight: bold;
    float: right;
    font-size: 22px;
    cursor: pointer;
}

