.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centered-title {
    text-align: center;
    padding-top: 2vh;
    font-size: 40px;
    font-family: 'Inconsolata', sans-serif;
    color: white;
}

.homepage-container {
    display: flex;
    justify-content: center;
    width: 80%;
}

