.project {
    border: 2px solid;
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 75%;
    margin-bottom: 2%;
}
.projects-page {
    height: 95vh;
    background-color: #3c3836;
}
.projects-all 
{
    height: 100%;
    background-color:  #3c3836;
}
.projects-container {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 height: 100%;
}


.project-title {
 font-size: 24px;
 text-align: center;
}
