.weather-container
{
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cityform
{
  text-align: center;
  display: inline-block;
}
.weather
{
  text-align: center;
  display:block;
}

.input
{
  border: 1px solid #ccc;
}
.day
{
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 16px;
}
.image
{
  padding: 0 10px 0;
}
.temp
{
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 20px
}